html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
  color: #ffffff;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.piskvorky {
  margin: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}

.obrazek {
  display: block;
  width: 100%;
	height: auto;
  border-radius: 5px 5px 0px 0px;
}

.piskvorky-obsah, .rules-content {
  background-color: #283e50;
  padding: 30px 20px 20px 20px;
  text-align: center;
}

h1 {
  margin-top: 0;
  font-family: 'Lobster', cursive;
  
  font-size: 36px;
}
p {
  margin-bottom: 0;
}


.btn {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffffff;
  
}
.btn a{
display: block;
padding: 10px;
}
.btn-rules, .btn-intro {
  background-color: #1fcca4;
  border-bottom: 1px solid #3f464d;
}
.btn-rules a:hover {
  background-color: #1cbb96;
}

.btn-start {
  background-color: #0197f6;
}
.btn-start a:hover {
  background-color: #0090e9;
}

/* pravidla */
.rules {
margin: 100px;
margin-left: auto;
margin-right: auto;
width: 435px;
}
.rules-content {
  text-align: left;
  border-radius: 5px 5px 0px 0px;
  font-size: 20px;
}

.rules-content h1 {
  text-align: center;
}

ol li {
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 40px;
  padding-left: 10px;

}

.circle, .cross {
  width: 1em; 
  height: 1em;
  filter: invert(100%);
  vertical-align: -0.1em;

}

figure img {
  
  display: block;
  width: 100%;
	height: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.btn-intro a:hover {
  background-color: #1cbb96;
}

/* hra */
.game {
 margin: 20px auto;
  max-width: 80vmin;
  
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
}
.game_menu {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.player {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  /* align-self: flex-start; */
  margin: 0px;
}



.btn-home {
  background-color: #1fcca4;
  border-radius: 5px;
  padding: 10px;
}
.btn-home:hover {
  background-color: #1cbb96;
}

.btn-restart {
  background-color: #0197f6;
  border-radius: 5px;
  padding: 10px;
}
.btn-restart:hover {
  background-color: #0090e9;
}

.home, .restart {
  margin: -5px;
}
.game_area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.game_area--btn {
  width: 8vmin;
  height: 8vmin;
  border: 1px solid black;
  opacity: 0.5;
  
  flex-basis: auto;
  margin: 0;
  padding: 0;
  
}

.game_area--btn:hover,
.game_area--btn:focus
 {
  filter: brightness(110%);
  cursor: pointer;
}

.pole-circle {
  background-image: url(images/circle.svg);
}
.pole-cross {
  background-image: url(images/cross.svg);
}
.pole-circle, .pole-cross {
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

@media (min-width: 500px) {
  .rules {
    width: 1000px;
  }
  .rules-content {
    font-size: 26px;
  }
  .rules-content h1 {
    font-size: 50px;
  }
  .rules-instructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .instruction {
    width: 40%;
  }
 
}



