html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
  color: #ffffff;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
}

.piskvorky {
  margin: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}

.obrazek {
  display: block;
  width: 100%;
	height: auto;
  border-radius: 5px 5px 0px 0px;
}

.piskvorky-obsah, .rules-content {
  background-color: #283e50;
  padding: 30px 20px 20px 20px;
  text-align: center;
}

h1 {
  margin-top: 0;
  font-family: 'Lobster', cursive;
  
  font-size: 36px;
}
p {
  margin-bottom: 0;
}


.btn {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffffff;
  
}
.btn a{
display: block;
padding: 10px;
}
.btn-rules, .btn-intro {
  background-color: #1fcca4;
  border-bottom: 1px solid #3f464d;
}
.btn-rules a:hover {
  background-color: #1cbb96;
}

.btn-start {
  background-color: #0197f6;
}
.btn-start a:hover {
  background-color: #0090e9;
}

/* pravidla */
.rules {
margin: 100px;
margin-left: auto;
margin-right: auto;
width: 435px;
}
.rules-content {
  text-align: left;
  border-radius: 5px 5px 0px 0px;
  font-size: 20px;
}

.rules-content h1 {
  text-align: center;
}

ol li {
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 40px;
  padding-left: 10px;

}

.circle, .cross {
  width: 0.7em; 
  height: 0.7em;
  filter: invert(100%);

}

figure img {
  
  display: block;
  width: 100%;
	height: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.btn-intro a:hover {
  background-color: #1cbb96;
}

@media (min-width: 500px) {
  .rules {
    width: 1000px;
  }
  .rules-content {
    font-size: 26px;
  }
  .rules-content h1 {
    font-size: 50px;
  }
  .rules-instructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .instruction {
    width: 40%;
  }
 
}